<form action="/{{books.id}}" method="post">
    <input type="text" name="newBookName" id="newBookName">
    <input type="text" name="newBookAuthor" id="newBookAuthor">
    <input type="text" name="newBookGenre" id="newBookGenre">
    <button type="submit">Update</button>
</form>