<form action="/editBook/{{book.id}}" method="post">
    <input type="text" name="newBookName" id="newBookName" value="{{book.name}}">
    <input type="text" name="newBookAuthor" id="newBookAuthor" value="{{book.author}}">
    <input type="text" name="newBookGenre" id="newBookGenre" value="{{book.genre}}">
    <button type="submit">Update</button>
</form>