<form action="/userRegister" method="post"></form>
    <input type="text" name="registerName" id="registerName">
    <input type="text" name="registerEmail" id="registerEmail">
    <input type="password" name="registerPassword" id="registerPassword">
    <button type="submit">Register</button>
</form>