<form action="/userLogin" method="post">
    <input type="text" name="loginEmail" id="loginEmail">
    <input type="password" name="loginPassword" id="loginPassword">
    <button type="submit">Login</button>
</form>

<p>Not yet registered? <a href="/userRegister">Join us now</a>!</p>