body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.nav-menu {
    display: flex;
    justify-content: center;
}

.nav-menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-menu ul li{
    list-style-type: none;
}

.nav-menu ul li a {
    font-family: 'Roboto', Helvetica, sans-serif;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.nav-menu ul li a:hover {
    transition: .2s ease-in-out;
    color: rgba(0, 0, 0, 0.699);
} 