body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

/* Main */

/* Nav */
.main-menu {
    display: flex;
    justify-content: center;
}

.main-menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-menu ul li{
    list-style-type: none;
}

.main-menu ul li a {
    font-family: 'Roboto', Helvetica, sans-serif;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.main-menu ul li a:hover {
    transition: .2s ease-in-out;
    color: rgba(0, 0, 0, 0.699);
}
 
.nav-submenu li a button {
    border: 1px solid black;
    border-radius: 50%;
}

/* Home */

.main-banner {
    display: flex;
    justify-content: center;
    position: relative;
}

.main-banner img {
    width: 100%;
    height: auto;
}

.main-banner .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* Login */

/* Form */
.login-form {
    display: flex;
    justify-content: center;
}